{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

<main >

	<section  id="formation" class="container mt-4 p-4 shadow-sm">
		<h1 class="text-center pb-5">Formation en développement {{ cours.title }}</h1>


		<div class="row flex-column flex-md-row  mb-4">
			

			<div class="col-12 col-md-8 mb-4 py-5">
				<img src="" class="img-fluid rounded" alt="Exemple de formation JavaScript">
			</div>
			<div id="details"  class="col-12 col-md-4">
				<h2 class="text-start pb-2">Détails de la formation</h2>
		<ul class="list-group">
			<li class="list-group-item">
				<i class="bi bi-clock me-2" style="color: #007bff; font-size: 1.5rem;"></i>
				Durée : {{ cours.duration }} Heures
			</li>
			<li class="list-group-item">
				<i class="bi bi-translate me-2" style="color: #28a745; font-size: 1.5rem;"></i>
				Langues : Français
			</li>
			<li class="list-group-item">
				<i class="bi bi-book me-2" style="color: #ffc107; font-size: 1.5rem;"></i>
				Contenu : {{ cours.content }} exercices pratiques
			</li>
			<li class="list-group-item">
				<i class="bi bi-currency-euro me-2" style="color: #e01cc3; font-size: 1.5rem;"></i>
				Prix : <strong>{{ cours.price }}</strong> Euros
			</li>
			<li class="list-group-item">
			<i class="bi bi-phone me-2" style="color: #007bff; font-size: 1.5rem;"></i> Accès : Mobile & PC
		    </li>
   			 <li class="list-group-item">
        	<i class="bi bi-award me-2" style="color: #28a745; font-size: 1.5rem;"></i> Certification incluse
    		</li>
		</ul>


				<div class="mt-4 text-center">
					<a href="{{ path('app_register')}}" class="btn p-2" type="submit">Inscrivez-vous !</a>
				</div>
			</div>
		</div>
	</section>

	<div class="container mt-4 shadow-sm">
		{{ cours.description | raw }}
	</div>

</main>
{% endblock %}
